@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Lora&family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  background-color: #181719;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
}
nav .logo {
  padding: 0.3rem;
  border-style: solid;
  border-color: #ffffff;
}
nav .logo a {
  font-family: "Crimson Pro";
  font-weight: 200;
  font-size: 0.875rem;
  /* identical to box height */
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
nav .nav-menu {
  display: none;
}
nav .humburger-menu {
  color: white;
}
nav .humburger-menu i {
  font-size: 1.781rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.show {
  display: flex;
  z-index: 2;
}

.overlay-menu {
  background-color: black;
  padding: 20px;
}

.overlay-close {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin: 2.8rem;
  position: absolute;
  top: 0;
  right: 0;
}
.overlay-close i {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  flex-direction: column;
}

ul {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  list-style: none;
  font-size: 1.125rem;
}
ul li {
  margin: 1rem;
}
ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 6px;
}
ul li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
  -webkit-transition: width 0.3s ease, background-color 0.3s ease;
  -moz-transition: width 0.3s ease, background-color 0.3s ease;
  -ms-transition: width 0.3s ease, background-color 0.3s ease;
  -o-transition: width 0.3s ease, background-color 0.3s ease;
}
ul li a:hover::after {
  width: 100%;
  background: white;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.content {
  position: absolute;
  top: 17vh;
  color: #ffffff;
  display: grid;
  gap: 1.563rem;
}
.content .content-title {
  font-family: "Lora";
  font-weight: 500;
  font-size: 2.25rem;
  /* identical to box height */
}
.content .content-main {
  width: 15.625rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
}
.content .detail {
  display: flex;
  align-items: center;
}
.content .detail p {
  padding-right: 4rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
}
.content .detail span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero {
  display: grid;
}
.hero .image-1 {
  position: relative;
  top: 70%;
}
.hero .image-1 img {
  width: 100%;
}
.hero .card-image {
  position: absolute;
  top: 140vw;
  z-index: 1;
  right: 8%;
  width: 80vw;
  color: white;
  background-color: #181719;
  box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.75);
}
.hero .card-image .image-2 {
  display: flex;
}
.hero .card-image .image-2 img {
  margin: 1rem;
  width: 3.875rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.hero .card-image .image-2 .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.366rem;
}
.hero .card-image .image-2 .profile .name {
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-weight: 500;
}
.hero .card-image .image-2 .profile .job {
  font-family: "Montserrat";
  font-size: 0.625rem;
  font-weight: 500;
  color: #828282;
}
.hero .card-image .copyright {
  width: 13.125rem;
  margin: 1rem;
}
.hero .card-image .copyright p {
  font-family: "Lora";
  font-size: 1.125rem;
  font-weight: 700;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  nav .logo {
    padding: 0.5rem;
  }
  nav .logo a {
    font-size: 1.5rem;
  }
  nav .nav-menu {
    display: none;
  }
  nav .humburger-menu i {
    font-size: 2.781rem;
  }
  .overlay-close {
    margin: 5rem;
  }
  .overlay-close i {
    font-size: 3rem;
  }
  ul {
    font-size: 3rem;
  }
  ul li a:after {
    padding: 0.1rem;
  }
  .content {
    top: 20vh;
    gap: 2rem;
  }
  .content .content-title {
    font-size: 3rem;
  }
  .content .content-main {
    width: 20rem;
    font-size: 1.2rem;
  }
  .content .detail p {
    font-size: 1rem;
  }
  .content .detail span {
    font-size: 1rem;
  }
  .hero .image-1 {
    top: 30vh;
  }
  .hero .card-image {
    width: 25.625rem;
    top: 115vh;
  }
  .hero .card-image .image-2 img {
    margin: 2rem;
    width: 4.5rem;
  }
  .hero .card-image .image-2 .profile {
    gap: 0.7rem;
  }
  .hero .card-image .image-2 .profile .name {
    font-size: 1rem;
  }
  .hero .card-image .image-2 .profile .job {
    font-size: 0.9rem;
  }
  .hero .card-image .copyright {
    width: 15rem;
    margin: 2rem;
  }
  .hero .card-image .copyright p {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    align-items: center;
  }
  nav .nav-menu {
    display: flex;
  }
  nav .nav-menu .menu {
    list-style: none;
  }
  nav .nav-menu .menu a {
    display: inline-block;
    position: relative;
    padding: 0 2rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
  }
  nav .nav-menu .menu a:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
    -webkit-transition: width 0.3s ease, background-color 0.3s ease;
    -moz-transition: width 0.3s ease, background-color 0.3s ease;
    -ms-transition: width 0.3s ease, background-color 0.3s ease;
    -o-transition: width 0.3s ease, background-color 0.3s ease;
  }
  nav .nav-menu .menu a:hover::after {
    width: 100%;
    background: white;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
  }
  .humburger-menu {
    display: none;
  }
  main {
    height: 100vh;
  }
  main .content {
    z-index: 0;
    top: 45vh;
  }
  main .content .content-title {
    font-size: 4rem;
  }
  main .content .content-main1 {
    width: 40rem;
    font-size: 2rem;
  }
  main .content .detail p {
    font-size: 1.5rem;
  }
  main .content .detail span {
    font-size: 1.5rem;
  }
  main .hero {
    width: 100%;
  }
  main .hero .image-1 {
    top: 0;
  }
  main .hero .image-1 img {
    position: absolute;
    width: 40rem;
    right: 1.8rem;
  }
  main .hero .card-image {
    top: 35vw;
  }
}/*# sourceMappingURL=style.css.map */